include ../module__order-form/module__order-form

mixin module__location(data)
  - var bemClass = 'module__location'
  +modal({id:"modal-5", close:true}).modal_location
    .module__location&attributes(attributes)
      div(class=bemClass + '__top')
        div(class=bemClass + '__search').row.center
          h2 Ваш город
          label().form__label.form__label_search
            input(type="text").form__input
      div(class=bemClass + '__content').row
        div(class=bemClass + '__col')
          span(class=bemClass + '__str') А
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Архангельск
              a(href='#' class=bemClass + '__link') Астрахань
          span(class=bemClass + '__str') Б
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Барнаул
              a(href='#' class=bemClass + '__link') Белгород
              a(href='#' class=bemClass + '__link') Брянс
          span(class=bemClass + '__str') В
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Великий Новгород
              a(href='#' class=bemClass + '__link') Владивосток
              a(href='#' class=bemClass + '__link') Владимир
              a(href='#' class=bemClass + '__link') Волгоград
              a(href='#' class=bemClass + '__link') Вологда
              a(href='#' class=bemClass + '__link') Воронеж
          span(class=bemClass + '__str') Е
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Екатеринбург
          span(class=bemClass + '__str') И
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Иваново
              a(href='#' class=bemClass + '__link') Ижевск
              a(href='#' class=bemClass + '__link') Иркутск

        div(class=bemClass + '__col')
          span(class=bemClass + '__str') й
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Йошкар-Ола
          span(class=bemClass + '__str') к
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Казань
              a(href='#' class=bemClass + '__link') Калининград
              a(href='#' class=bemClass + '__link') Калуга
              a(href='#' class=bemClass + '__link') Кемерово
              a(href='#' class=bemClass + '__link') Киров
              a(href='#' class=bemClass + '__link') Кострома
              a(href='#' class=bemClass + '__link') Краснодар
              a(href='#' class=bemClass + '__link') Красноярск
              a(href='#' class=bemClass + '__link') Курск
          span(class=bemClass + '__str') Л
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Липецк
          span(class=bemClass + '__str') М
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Москва
              a(href='#' class=bemClass + '__link') Магнитогорск
              a(href='#' class=bemClass + '__link') Мурманск

        div(class=bemClass + '__col')
          span(class=bemClass + '__str') Н
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Набережные Челны
              a(href='#' class=bemClass + '__link') Нижневартовск
              a(href='#' class=bemClass + '__link') Нижний Новгород
              a(href='#' class=bemClass + '__link') Нижний Тагил
              a(href='#' class=bemClass + '__link') Новокузнецк
              a(href='#' class=bemClass + '__link') Новосибирск
          span(class=bemClass + '__str') О
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Омск
              a(href='#' class=bemClass + '__link') Оренбург
              a(href='#' class=bemClass + '__link') Орёл
          span(class=bemClass + '__str') П
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Пенза
              a(href='#' class=bemClass + '__link') Пермь
              a(href='#' class=bemClass + '__link') Петрозаводск
              a(href='#' class=bemClass + '__link') Псков
          span(class=bemClass + '__str') Р
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Ростов-на-Дону
              a(href='#' class=bemClass + '__link') Рыбинск
              a(href='#' class=bemClass + '__link') Рязань

        div(class=bemClass + '__col')
          span(class=bemClass + '__str') С
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Самара
              a(href='#' class=bemClass + '__link') Саранск
              a(href='#' class=bemClass + '__link') Саратов / Энгельс
              a(href='#' class=bemClass + '__link') Северодвинск
              a(href='#' class=bemClass + '__link') Смоленск
              a(href='#' class=bemClass + '__link') Сочи
              a(href='#' class=bemClass + '__link') Ставрополь
              a(href='#' class=bemClass + '__link') Сургут
              a(href='#' class=bemClass + '__link') Сыктывкар
          span(class=bemClass + '__str') Т
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Тверь
              a(href='#' class=bemClass + '__link') Тольятти
              a(href='#' class=bemClass + '__link') Томск
              a(href='#' class=bemClass + '__link') Тула
              a(href='#' class=bemClass + '__link') Тюмень
          span(class=bemClass + '__str') У
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Ульяновск
              a(href='#' class=bemClass + '__link') Уфа

        div(class=bemClass + '__col')
          span(class=bemClass + '__str') X
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Хабаровск
          span(class=bemClass + '__str') Ч
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Чебоксары
              a(href='#' class=bemClass + '__link') Челябинск
              a(href='#' class=bemClass + '__link') Череповец
          span(class=bemClass + '__str') Я
          ul(class=bemClass + '__lists')
            li(class=bemClass + '__item') 
              a(href='#' class=bemClass + '__link') Ярославль

  +modal({id:"modal-6", close:true}).modal_reg.modal_ord
    .modal__order.module__order_mobile
      +module__order-form()