mixin module__catalog-menu(data)
  - var bemClass = 'module__catalog-menu'
  .module__catalog-menu&attributes(attributes)
    div(class=bemClass + '__container') 
      span(class=bemClass + '__str') Каталог товаров
      ul.jsAccordion
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') Секс-игрушки
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') Белье и костюмы
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') Полезное
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') BDSM
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') Подарки
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары
        li(class=bemClass + '__list')
          a(href="" class=bemClass + '__title') Распродажа
            +icon('down')
          ul(class=bemClass + '__ul')
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Страпоны
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вибраторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Фаллоимитаторы
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Анальные игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Вагинальные шарики
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Мужские секс-игрушки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Уход за игрушками
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Батарейки
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Теледильдоника
            li(class=bemClass + '__item')
              a(href="" class=bemClass + '__link') Доступные товары