include ../sandwitch/sandwitch
include ../module__logo/module__logo
include ../module__header-location/module__header-location
include ../main-menu/main-menu
include ../module__mobile-cart/module__mobile-cart

mixin header(data)
  - var bemClass = 'header'
  header.header&attributes(attributes)
    .container
      .row.center
        +sandwitch()
        +module__logo({
          plus: false
        })   
        +module__header-location()
        +module__mobile-cart()
        if data.saccount
          .module__user
            .row.center
              .col 
                span(class=bemClass + '__str') INTIMISSIMI
                a(href='#' class=bemClass + '__link') выйти
              div(class=bemClass + '__userpick').header__userpick_shop
                a(href="cabinet04.html")
                  img(src="assets/images/account/4.jpg", alt="userpick")
        else if data.shopM
          .module__user
            .row.center
              .col 
                span(class=bemClass + '__str') Дженсен Эклс
                a(href='#' class=bemClass + '__link') выйти
              div(class=bemClass + '__userpick')
                a(href="cabinet01.html")
                  img(src="assets/images/user/2.jpg", alt="userpick")
        else
          div(class=bemClass + '__row').row 
            a(href="order.html" class=bemClass + '__btn').button.row.center.header__btn_active
              +icon('com')
              span(class=bemClass + '__count') 3
            a(href="order.html" class=bemClass + '__btn').button.button_tr.row.center
              +icon('com')
            a(href="#" data-remodal-target="modal-2").button Вход
            a(href="#" data-remodal-target="modal-1").button.button_tr Регистрация