mixin module__item(data)
  - var bemClass = 'module__item'
  .module__item&attributes(attributes)
    a(href="" class=bemClass + '__img-wrap')
      img(src="assets/images/shop/1.jpg", alt="Скидка на вибратор SVAKOM PURE")
    div(class=bemClass + '__cont')
      div(class=bemClass + '__heading')
        a(href="#" class=bemClass + '__str-0') 
          span(class=bemClass + '__str-1') Скидка на вибратор
          span(class=bemClass + '__str-2') SVAKOM PURE
      p Svakom Betty, розовый Вибратор с интелектуальным режимом вибрации со скидкой 15% только до конца месяца. 
      div(class=bemClass + '__disc').row.between 
        span(class=bemClass + '__str-3') Акция продлится до: 
        span(class=bemClass + '__str-4') 08.04.2017
      .row.between.center
        div(class=bemClass + '__price')
          span(class=bemClass + '__str-5') 6840 Р 
          span(class=bemClass + '__str-6') 8008 Р
        a(href="").button Купить
  .module__item&attributes(attributes)
    a(href="" class=bemClass + '__img-wrap')
      img(src="assets/images/shop/2.jpg", alt="Скидка на вибратор SVAKOM PURE")
    div(class=bemClass + '__cont')
      div(class=bemClass + '__heading')
        a(href="#" class=bemClass + '__str-0') 
          span(class=bemClass + '__str-1') Скидки на все товары
          span(class=bemClass + '__str-2') SVAKOM
      p Svakom Betty, розовый Вибратор с интелектуальным режимом вибрации со скидкой 15% только до конца месяца. 
      div(class=bemClass + '__disc').row.between 
        span(class=bemClass + '__str-3') Акция продлится до: 
        span(class=bemClass + '__str-7') все время
      .row.between.center
        div(class=bemClass + '__brand')
          img(src="assets/images/brand/1.png", alt="")
        a(href="").button Купить
  .module__item&attributes(attributes)
    a(href="" class=bemClass + '__img-wrap')
      img(src="assets/images/shop/3.jpg", alt="Скидка на вибратор SVAKOM PURE")
    div(class=bemClass + '__cont')
      div(class=bemClass + '__heading')
        a(href="#" class=bemClass + '__str-0') 
          span(class=bemClass + '__str-1') Скидки на все товары
          span(class=bemClass + '__str-2') INTIMISSIMI
      p Svakom Betty, розовый Вибратор с интелектуальным режимом вибрации со скидкой 15% только до конца месяца. 
      div(class=bemClass + '__disc').row.between 
        span(class=bemClass + '__str-3') Акция продлится до: 
        span(class=bemClass + '__str-4') 08.04.2017
      .row.between.center
        div(class=bemClass + '__brand')
          img(src="assets/images/brand/2.png", alt="")
        a(href="").button Купить