mixin module__subscribe(data)
  - var bemClass = 'module__subscribe'
  section.module__subscribe&attributes(attributes)
    .container
      div(class=bemClass + '__r-row').row
        .col__40.col__40_bg
        .col__60
          h2 Не пропустите выход <br> мобильного приложения 
            span EROMALL
          span(class=bemClass + '__str') Укажите ваш Email и мы отправим вам ссылку на приложение как только оно выйдет и получите скидку 10% на все товары
          form(action="")
            div(class=bemClass + '__f-row').row
              div(class=bemClass + '__row') 
                label().form__label
                  input(type="text").form__input
                div(class=bemClass + '__check-row').row.center  
                  label().label__radio
                    input(type="radio", name='device').input__radio
                    +icon('apple')
                  label().label__radio
                    input(type="radio", name='device').input__radio
                    +icon('android')
              a(href="").button Уведомить
          div(class=bemClass + '__apps').row 
            a(href="").app
              +svg({
                name: 'apple-grey',
                width: 130,
                height: 42
              })
            a(href="").google
              +svg({
                name: 'android-grey',
                width: 130,
                height: 42
              })


mixin module__subscribe-2(data)
  - var bemClass = 'module__subscribe'
  section.module__subscribe&attributes(attributes)
    .container
      div(class=bemClass + '__r-row').row
        div(class=bemClass + '__sub') 
          h2 Совсем скоро
          h3 Все товары будут доступны и на мобильном приложении! <br> Не пропустите выход мобильного приложения EROMALL
          span(class=bemClass + '__str') Укажите ваш Email и мы отправим вам ссылку на приложение <br> как только оно выйдет и получите скидку 10% на все товары
          form(action="")
            div(class=bemClass + '__f-row').row
              div(class=bemClass + '__row') 
                label().form__label
                  input(type="text").form__input
                div(class=bemClass + '__check-row').row.center  
                  label().label__radio
                    input(type="radio", name='device').input__radio
                    +icon('apple')
                  label().label__radio
                    input(type="radio", name='device').input__radio
                    +icon('android')
              a(href="").button Уведомить
          div(class=bemClass + '__apps').row
            a(href="").app
              +svg({
                name: 'apple-pink',
                width: 130,
                height: 42
              })
            a(href="").google
              +svg({
                name: 'android-pink',
                width: 130,
                height: 42
              })