mixin module__info-odds(data)
  - var bemClass = 'module__info-odds'
  .module__info-odds&attributes(attributes)
    h2.title Наши преимущества
    .row.between(class=bemClass + '__slider-row').jsSlick5
      -for(var x = 0 ; x < 3 ; x++)
        div(class=bemClass + '__item')
          .row
            +icon('comp')
            .col
              span(class=bemClass + '__str') Выгода
              p Мы предоставляем самую полную информацию об акциях и скидках всех ресторанов.
    div(class=bemClass + '__col')
      h4 Выгодное сотрудничество
      p Мы сотрудничаем со многими заведениями города, поэтому вы сможете найти оптимальный вариант непосредственно в вашем районе, чтобы доставка еды заняла минимум времени. Курьеры наших партнеров привезут горячие блюда — горячими, холодные — охлажденными, а напитки — оптимальной температуры. В результате вы получите все необходимое для того, чтобы устроить люксовый ужин, не выходя из дома или офиса.
      div(class=bemClass + '__row').row
        .col__50(class=bemClass + '__form') 
          form()
            h2 Заявка на размещение
            lable().form__label
              input(type="text", placeholder='Наименование организации').form__input
            lable().form__label
              input(type="text", placeholder='Ссылка на сайт магазина').form__input
            lable().form__label
              input(type="text", placeholder='Контактное лицо').form__input
            lable().form__label
              input(type="text", placeholder='E-mail адрес').form__input
            lable().form__label
              input(type="text", placeholder='Номер телефона для связи').form__input
            button.button.button_lg Отправить заявку
        .col__50(class=bemClass + '__content') 
          h4 Основные условия размещения
          p Мы сотрудничаем со многими заведениями города, поэтому вы сможете найти оптимальный вариант непосредственно в вашем районе, чтобы доставка еды заняла минимум времени. Курьеры наших партнеров привезут горячие блюда — горячими, холодные — охлажденными, а напитки — оптимальной температуры. В результате вы получите все необходимое для того, чтобы устроить люксовый ужин, не выходя из дома или офиса.
          strong Это так удобно и просто, всего три простых шага:
          ul 
            li 1. подбираете подходящий по ассортименту и ценам ресторан;
            li 2. делаете заказ еды по меню этого заведения;
            li 3. получаете оперативную доставку в сроки, указанные на сайте для каждого конкретного ресторана. Возможна и круглосуточная доставка! 